<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="username" value="u943578651"/>
    <add key="password" value="nv66nx"/>
    <add key="partner_username" value="test"/>
    <add key="partner_password" value="test1234"/>    
    <add key="url" value="https://hs-abnahme.a-trust.at/RegistrierkasseMobile/v2"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
